{% load static %}
<!-- Inicio Articulo Destacado  -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="{% static 'img/article.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Articulo destacado</p>
                    <h1 class="display-6">Cofre o Ataud en marmol blanco</h1>
                </div>
                <p class="mb-4">Este es un hermoso cofre o ataud hecho y fabricado en piedra de marmol blanco, lujoso y perfecto para un ultimo detalle a tu ser querido</p>
                <a href="" class="btn btn-primary rounded-pill py-3 px-5">Adquirir</a>
            </div>
        </div>
    </div>
</div>
<!-- Fin Articulo Destacado -->