{% load static %}
<!-- Inicio, Pie de página -->
<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">© 2023 Serprefun De Colombia. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled d-flex justify-content-end mb-0">
                    <li class="me-3"><a href="#"><i class="bi bi-facebook fs-4"></i></a></li>
                    <li class="me-3"><a href="#"><i class="bi bi-twitter fs-4"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram fs-4"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>