{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FUNERARIA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <div class="container">
            <p class="logo">️SERPREFUN DE COLOMBIA</p>
            <nav>
                <a href="#somos-proya">Que Ofrecemos</a>
                <a href="#nuestros-programas">Productos</a>
                <a href="#caracteristicas">Características</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>NUESTROS <br>SERVICIOS</h1>
        <button>INGRESAR</button>
    </section>

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>​ Nuestro <span class="color-acento">Servicio Funerario</span></h2>
                <p>En momentos de profundo dolor y pérdida, nuestros servicios funerarios se comprometen a brindar consuelo y apoyo a las familias, honrando con respeto y dignidad la memoria de sus seres queridos, facilitando el proceso de despedida y ofreciendo un acompañamiento cálido y profesional durante este difícil viaje de despedida y celebración de la vida</p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Nuestro Catalogo</h2>
            <div class="programas">
                <div class="carta">
                    <h3>Personalizacion</h3>
                    <p>En nuestra funeraria, entendemos que cada persona es única, y es por eso que nos esforzamos por ofrecer servicios personalizados que reflejen la singularidad de cada vida que conmemoramos. Trabajamos de la mano de las familias, escuchando sus historias y recuerdos, para crear ceremonias y homenajes que reflejen la esencia y las aspiraciones del ser querido fallecido, asegurando que cada servicio sea un tributo conmovedor y significativo que perdure en la memoria de quienes le amaron.</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>Accesorios</h3>
                    <p>En nuestra funeraria, comprendemos la importancia de los detalles y la necesidad de brindar un entorno reconfortante y respetuoso durante los momentos más difíciles. Por eso, ofrecemos una amplia gama de accesorios cuidadosamente seleccionados, desde urnas con diseños conmovedores hasta elegantes candelabros y arreglos florales personalizados, que permiten a las familias crear un ambiente que honre y celebre la vida del ser querido fallecido. Nuestros accesorios están diseñados para proporcionar consuelo y belleza en cada detalle, asegurando que el entorno sea un reflejo amoroso y respetuoso de la persona que partió, y que las familias encuentren un sentido de paz y serenidad en un momento de profundo pesar</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>Productos</h3>
                    <p>En nuestra funeraria, nos enorgullece ofrecer una amplia gama de productos de la más alta calidad diseñados para satisfacer las necesidades únicas de las familias que enfrentan la pérdida de un ser querido. Desde urnas elegantes y monumentos conmemorativos personalizados hasta tarjetas de agradecimiento y recordatorios impresos con sensibilidad, nuestra selección de productos está cuidadosamente curada para proporcionar opciones significativas y respetuosas que permitan a las familias rendir homenaje de manera única y honrar la memoria de sus seres queridos. Trabajamos con dedicación y comprensión para garantizar que cada producto sea un testimonio duradero de amor y afecto, brindando a las familias el apoyo que necesitan en este momento de profunda tristeza y reflexión.</p>
                    <button>+ Info</button>
                </div>  
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>✅​ 100% Original</li>
                <li>✅​ Producto de buena Calidad</li>
                <li>✅​ Garantia</li>
                <li>✅​ Promocion constante</li>
            </ul>
        </div>
    </section>

    <section id="final">
        <h2>Deseas comprar algun servicio?</h2>
        <button>Clic Aqui</button>
    </section>

    <footer>
        <div class="container">
        </div>
    </footer>
</body>
</html>
