{% load static %}
<!-- Inicio Productos -->
<div class="container-fluid product py-5 my-5">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Nuestros Productos</p>
            <h1 class="display-6">Contamos con distintos tipos de arreglos florares y gran variedad en flores y ataudes
            </h1>
        </div>
        <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-1.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Corona Funebre</h4>
                    <span class="text-body">Arreglo funebre en rosas, hortencias, cremones, margaritas, perla, follajes,
                        base tripode y cinta para marcar.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-2.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Corona Funebre, Corazon</h4>
                    <span class="text-body">Una corona personalizada al estilo y gusto del cliente, llama gran atencion
                        por sus rosas y sus arreglos.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-3.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Arreglo Sencillo</h4>
                    <span class="text-body">Un arreglo sencillo pero llamativo con flores relucientes y bellas</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-4.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Pradera Floral</h4>
                    <span class="text-body"> Bouquet en mix de flores frescas de temporada, empacado en Bolsa rígida.
                        Perfecto como un detalle especial para tus seres queridos. </span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-5.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Florero</h4>
                    <span class="text-body">Lindo y hermoso florero para una buena decoracion de salas de
                        velacion.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-6.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Cofre de Lujo para osario</h4>
                    <span class="text-body">Cofre elegante de osario para los restos de tu familiar</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-7.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Cofre sencillo</h4>
                    <span class="text-body">Cofre de madera algo sencillo pero llamativo </span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img class="img-products" src="{% static 'img/product-8.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Cofre en marmol blanco</h4>
                    <span class="text-body">Un cofre de malmol de un cementerio aislado en el fondo blanco</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Fin Productos -->